* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --body-color: #192233;
    --menu-color: #212C42;
}

.container {
    width: 95%;
}

div img{
    width: 1.8rem;
    height: 1.8rem;
}

/*header*/

body {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--body-color);
}

.logo {
    display: flex;
    gap: 15vw;
}

.logo a{
    padding: 1rem;
}

.logo nav{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.logo div {
    display: flex;
    gap: .5rem;
    height: 50px;
    width: 50px;
}

.logo h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 5fr 3fr;
    margin: .5rem auto 2rem auto;
}

img {
    width: 100%;
    height: 100%;
}

.ico {
    max-width: 20px;
    max-height: 20px;
}

.second-section {
    display: flex;
    gap: 2.5rem;
}

.second-section div {
    display: flex;
    gap: 1rem;
}

.second-section img {
    margin: .2rem;
}

.second-section h2{
    color: white;
}

/* content */
.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5rem;
}
    /* lateral content */
        /* user */
        .user-img{
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
            background: url('../img/question.png') white center;
            border-radius: 50%;
            border: solid red .01rem;
        }

        .user-img::after{
            content: '';
            display: block;
            position: absolute;
            right: -8px;
            top: 35%;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: url('../img/instagram.png');
            background-position: center;
            background-size: contain;
            border: solid white 1px;
        }

        .user-img::before{
            content: '';
            position: absolute;
            background: url('../img/question.png') center white;
            background-size: contain;
            right: -2px;
            top: -5px;
            display: block;
            border: solid white 1px;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
        }

        .user-opttion{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        .lateral-menu{
            margin-left: 1rem;
        }

        .lateral-menu h2{
            color: white;
        }

        .img-lateral{
            height: 2rem;
            width: 2rem;
        }

        /* button */

        .dual-button{
            margin-top: .5rem;
            display: flex;
            justify-content: space-evenly;
            gap: .2rem;
        }
        
        .dual-button a{
            color: blue;
            padding: .2rem .8rem;
            font-weight: 600;
        }

        
        .dual-button a:first-child{
            color: black;
            background-color: #DB6AB5;
            border-radius: 20px;
        }
        
        .big-buttom{
            display: block;
            padding: .5rem 0;
            border-radius: 20px;
            text-align: center;
            background-color: #6781F7;
        }

        /* value */
        .cash{
            display: grid;
            padding: 1.5rem .5rem;
            grid-template-columns: repeat(2, 1fr);
            margin-top: .5rem;
            border-top: solid rgb(88, 88, 88) 1px;
            border-bottom: solid rgb(106, 106, 106) 1px;
        }

        .cash-count{
            color: white;
            line-height: 3ch;
        }

        .cash-count h4{
            font-size: .8rem;
        }

        .cash-count p{
            font-size: 1.5rem;
        }

        .cash a{
            color: blue;
        }

        /* menu-option */
        .lateral-options{
            margin-top: 2rem;
            display: flex;
            margin-left: 1rem;
            flex-direction: column;
            gap: 1rem;
        }

        .lateral-option{
            display: flex;
            gap: 1.5rem;
        }

        .lateral-menu p{
            display: flex;
            align-items: center;
            color: white;
            font-style: italic;
        }

    /* main content */

    .main-content{
        background-color: var(--menu-color);
        border-radius: 20px;
        padding: 2rem;
        max-height: calc(100vh - 10rem);
        overflow: overlay;
    }
    .main-content .contents{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
    
    .main-content h1{
        color: white;
        margin-bottom: 2rem;
    }

    .content1{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
        /*first content*/
        .main-content1{
            background-color: #6E3DC8;
            border-radius: 20px;
            padding: 2rem;
        }

        .main-content1 h2{
            color: white;
            margin-bottom: 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .red-place{
            background-color: rgb(255, 92, 16);
            border-radius: 10px;
            font-size: .8rem;
            padding: .1rem .5rem .1rem .6rem;
            position: relative;
        }

        .red-place::before{
            position: absolute;
            content: ' ';
            display: block;
            width: 5px;
            height: 5px;
            background-color: white;
            left: 2px;
            top: 35%;
            border-radius: 20px;
        }

            /* fist content child */
            .content-inside1{
                display: flex;
                gap: 2rem;
            }

            .counter h3{
                color: white;
                font-size: 1rem;
                margin-bottom: .5rem;
            }

            .count{
                display: flex;
                gap: 1rem;
            }

            .number h4{
                position: relative;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                border: solid white .5px;
                border-radius: 8px;
                font-size: 1.5rem;
            }

            .number h4::after{
                font-size: 1.5rem;
                position: absolute;
                content: ':';
                right: -.8rem;
                color: white;
            }

            .number:last-of-type h4::after{
                content: ' ';
            }

            .number p{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: .8rem;
            }

            .place{
                color: white;
            }

            .place div{
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
            }

            .place div p{
                font-size: 1.5rem;
            }

            /* second content child */

            .content2-inside1{
                background-color: var(--body-color);
                padding: 1.5rem;
                border-radius: 2rem;
                color: white;
            }

            .content2-inside1 .div{
                padding: 2rem;
            }

            .content2-inside1 h2{
                margin-bottom: 1rem;
            }

            .second-content{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
            }

            .percent{
                border: solid #6781F7 1rem;
                border-radius: 50%;
                display: flex;
                width: 100%;
                height: 80%;
                justify-content: center;
                flex-direction: column;
            }

            .percent p{
                font-size: .8rem;
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .percent p:first-child{
                font-size: 2rem;
            }

            .calc{
                padding: 1rem;
            }

            .calc p:first-child{
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.5rem;
                justify-content: center;
            }

            .calc div{
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
            }

            .calc div p{
                display: flex;
                align-items: center;
            }

            .more-calc{
                border: solid .1px white;
                padding: 1rem;
                border-radius: 2rem;
            }

            .more-calc p:first-child{
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.5rem;
                justify-content: center;
            }

            .calc-more{
                display: flex;
            }

            .calc-more h3{
                display: flex;
                align-items: center;
                font-size: 2.5rem;
            }

            .calc-more p{
                font-size: .8rem;
            }

            /*third contend child*/

            .pop{
                background-color: var(--body-color);
                padding: .5rem;
                border-radius: 2rem;
                color: white;
                display: flex;
            }

            .pop img{
                width: 3rem;
                height: 3rem;
                padding: 1rem;
            }

            .inside-pop{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            /*four content child*/

            .square{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
            }

            .mini-square{
                display: flex;
                gap: .5rem;
                flex-direction: column;
                padding: 1.5rem 2rem;
                background-color: var(--body-color);
                border-radius: 1rem;
                color: white;
                text-align: center;
            }

            .mini-square p{
                font-size: .8rem;
            }

            .mini-square a{
                text-align: center;
                padding: .5rem 1rem;
                border: solid blue 1px;
                border-radius: .5rem;
            }
        
        /*second content*/

        .content2{
            display: flex;
            flex-direction: column;
        }

            /*first-second-contend-child*/

            .square1{
                color: white;
                background-color: #6781F7;
                padding: 1rem;
                border-radius: 1rem;
            }

            .square1 h2{
                font-size: 1.2rem;
            }

            .text-square .square-div{
                margin-top: 1rem;
                display: flex;
                gap: .8rem
            }

            .text-square input{
                background-color: transparent;
                border: solid white 1px;
                width: 100%;
                height: 100%;
                padding: 0 .2rem;
                border-radius: .5rem;
            }

            .input-square{
                position: relative;
            }
            
            .text-square img{
                width: 1.2rem;
                height: 1.2rem;
                padding: .5rem;
                background-color: white;
                border-radius: .6rem;
            }

            .text-square .input-square::after{
                content: ' ';
                position: absolute;
                border: solid white 1px;
                border-radius: .2rem;
                right: .2rem;
                top: .5rem;
                display: block;
                width: 1rem;
                height: 1rem;
            }

            .square-div1{
                display: flex;
                gap: .2rem;
            }

            .icons{
                display: flex;
                margin-top: 1rem;
                gap: .5rem;
            }

            .icons div{
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }

            .icons h3{
                font-size: 1.5rem;
            }

            .icons p{
                font-size: .7rem;
            }
