*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    scrollbar-width: 8rem;
}

::-webkit-scrollbar{
    display: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.ico-svg-white{
    filter: invert(100%) sepia(18%) saturate(12%) hue-rotate(213deg) brightness(103%) contrast(105%);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: auto;
}

.ico-svg-black{
    filter: invert(0%) sepia(100%) saturate(18%) hue-rotate(269deg) brightness(91%) contrast(104%);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin: auto;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

@media only screen and (min-width:768px){

    ::-webkit-scrollbar{
        display: block;
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track{
        background-color: black;
    }
    
    ::-webkit-scrollbar-thumb{
        border-radius: 2rem;
        background-color: gray;
    }
}

/*menu*/


.header-type-1{
    background-image: url('/desing-2/img/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
}

.logo-type-1 p{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.m-type-1{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu-type-1{
    display: none;
}

.tittle-type-1{
    color: white;
    text-align: center;
    font-size: 2.5rem;

}

.menu-type-2{
    display: flex;
    flex-direction: column;
    margin-top: 70%;
    gap: 3rem;
}

.tittle-type-1{
    text-shadow: -1px 2px 5px black;
}

.md-type-1{
    display: flex;
    gap: .5rem;
}

.only-desktop-type-1{
    display: none;
    gap: 1rem;
}

.only-desktop-type-1 h3{
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}

.only-desktop-type-1 p{
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    padding: .5rem;
    border: solid white .1rem;
}

.m-contact-1{
    color: white;
    display: flex;
    gap: .5rem;
}

@media only screen and (min-width:768px){

    .header-type-1{
        max-width: calc(100vw - 5px);
    }

    .only-desktop-type-1{
        display: flex;
    }

    .header-type-1{
        background-image: url('/desing-2/img/city.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: calc(9 * 100vw / 16);
    }

    .menu-type-2{
        margin-top: calc(calc(9 * 100vw / 16) - 40%);
    }
}
/* form */

.form-type-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-type-1 input, .form-type-1 select{
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid white .1rem;
    width: 90%;
    text-shadow: -2px 2px 5px rgb(0, 0, 0);
}

.form-type-1 option{
    color: black;
}

.form-type-1 .button-type-1{
    border: none;
    text-shadow: -1px 2px 5px rgb(0, 0, 0);
    background-color: gray;
}

@media only screen and (min-width:768px){
    .form-type-1{
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

    .form-type-1 .button-type-1{
        border: 1px solid white;
        background-color: transparent;
    }
}

/* content */

.content-type{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.content-type h3{
    font-size: 2rem;
    padding: 1rem 0;
}

.img-type-1-1{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}

.content-type-2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

.content-show-type-1{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.content-show-type-1 h3{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    font-size: 2rem;
}

.content-dnone{
    display: none;
}

.content-change-type-1{
    display: flex;
    justify-content: space-between;
}

.current-page{
    width: 50%;
}

.current-page{
    text-align: center;
}

.current-page div{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.page-current{
    width: 100%;
    border-top: solid black;
}
.current-page-green{
    color: lime;
    border-color: lime;
    font-size: 1.5rem;
}

.content-type-3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;
    gap: 1rem;
    flex: 1 1 400;
}

.content-show-type-2{
    padding: 1rem;
    border-radius: 2rem;
}

.content-show-type-2{
    display: flex;
    width: 60vw;
    height: 60vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: 600;
}

.content-show-type-2 .content-items{
    overflow: hidden;
    margin-top: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-items h3{
    background-color: rgba(0, 0, 0, 0.244);
    border-radius: 2rem;
    font-size: 2rem;
    text-align: center;
}

.content-items p{
    background-color: rgba(0, 0, 0, 0.244);
    border-radius: 2rem;
    font-size: 1.1rem;
}

@media only screen and (min-width: 768px){

    .current-page{
        margin: 0 auto;
    }
    
    .content-type{
        display: grid;
        align-items: center;
    }

    .x2{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .content-dnone-next{
        display: block;
        position: absolute;
        width: 50%;
        right: -55%;
        bottom: 20%;
    }

    .content-dnone-next div:first-child{
        display: none;
    }

    .content-type-2{
        display: grid;
        overflow: hidden;
    }

    .content-show-type-1{
        padding: 2rem;
        margin-right: 30%;
    }

    .next{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 28%;
    }


    .back{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    .content-show-type-2{
        width: 30rem;
        height: 30rem;
    }
}


/* footer */

.footer-type-1{
    background-color: rgb(79, 79, 79);
    margin-top: 1rem;
    text-align: center;
    padding-top: 1rem;
}

.menu-footer-1{
    font-size: 1.5rem;
    list-style: none;
    padding: 1rem;
}

.menu-footer-1 li{
    padding: .5rem;
}